<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itesca.moviles.chorizito">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chorizito">
        <activity
            android:name=".registrarInsumo"
            android:exported="false" />
        <activity
            android:name=".listaInsumos"
            android:exported="false"
            android:label="@string/title_activity_lista_insumos"
            android:theme="@style/Theme.Chorizito.NoActionBar" />
        <activity
            android:name=".registrarProducto"
            android:exported="false" />
        <activity
            android:name=".registrarProveedor"
            android:exported="false" />
        <activity
            android:name=".registrarProovedor"
            android:exported="false" />
        <activity
            android:name=".registrarCoop"
            android:exported="false" />
        <activity
            android:name=".menu_inicio"
            android:exported="false"
            android:label="@string/title_activity_menu_inicio"
            android:theme="@style/Theme.Chorizito.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>